aside {
    border-left: solid 4px #3f51b5;
    position: fixed;
    margin-top: 50px;
    font-size: 13px;
    padding-left: 25px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
}

.example-sidenav {
    width: 100%;
    padding: 5px 0 10px 10px;
}

a {
    line-height: 16px;
    margin: 5px 0 0;
    position: relative;
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
}